[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/dakesan/kickstart.nvim.git

[submodule ".config/yazi/flavors"]
  path = .config/yazi/flavors
  url = https://github.com/yazi-rs/flavors.git
